:root {
  --spacing-unit: 4px;
}

.banner-container {
  display: flex;
  border-radius: 6px;
  padding: calc(var(--spacing-unit) * 4);
  margin: 10px;
  max-width: 100%;
}

.banner-container p {
  margin: 0;
}

.banner-content :first-child {
  font-weight: bold;
}

.status {
  margin-right: calc(var(--spacing-unit) * 3);
  font-size: 1.5em;
}

.neutral {
  color: #60A5FA;
}
.warning {
  color: #FBBF24;
}
.success {
  color: #34D399;
}
.error {
  color: #F87171;
}